.details {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #6a6f73;
}

.label {
    width: 50%;
    display: inline-block;
}

.title {
    font-size: 1.7rem;
    font-weight: bold;
}

.marginBottom {
    margin: 0;
    margin-bottom: 16px;
}

.precio {
    float: right;
    width: 35%;
    text-align: end;
}
.moneda {
    font-weight: 600;
    width: 15%;
}

.totalContainer {
    display: flex;
}

.labelTotal {
    width: 50%;
    font-weight: 700;
    font-size: 1.3rem;
}

.monedaTotal {
    font-weight: 700;
    font-size: 1.3rem;
    width: 15%;
}

.precioTotal {
    width: 35%;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: end;
}

.payButton {
    background-color: #2962ff;
    color: white;
    font-weight: 600;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid transparent;
}

.payButton:hover {
box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
  -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.payButton:disabled {
    background-color: #99b2f5;
}

.enlace, .enlace:link, .enlace:visited, .enlace:hover, .enlace:active {
    text-decoration: none;
    color: #2962ff; 
    font-weight: 600;
}